<!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout"
	xmlns:sec="http://ww.thymeleaf.org/extras/spring-security5">
<head>
<meta charset="UTF-8">
<title>Manage movies</title>
<link rel="stylesheet" href="../static/css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}">
</head>
<body>
	<div layout:fragment="content">
		<div class="container">


			<div class="container">
				<div class="panel panel-default">
					<div class="panel-heading" style="color:  rgba(212, 175, 55); background-color: rgb(0, 0, 0, 0.9)">Manage movies</div>
					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-5">
							<div class="panel panel-default">
								<div class="panel-heading" style="color:  rgba(212, 175, 55); background-color: rgb(0, 0, 0, 0.9)">Choose an action</div>
								<div class="input-append">
									<a class="btn btn-warning" th:href="@{/adminPageMovie(action='Delete')}">Delete</a>
									<a class="btn btn-warning" th:href="@{/adminPageMovie(action='Update')}">Update</a>
									<a class="btn btn-warning" th:href="@{/adminPageMovie(action='Create')}">Create</a>
								</div>

							</div>
						</div>


						<th:block th:if="${action=='Create'}">
							<div class="col-lg-7 col-md-7 col-sm-7">
								<div class="panel panel-default">
									<div class="panel-heading" style="color:  rgba(212, 175, 55); background-color: rgb(0, 0, 0, 0.9)">Creating</div>
									<div class="panel-body">
										<form th:action="@{/saveMovie}" method="POST">
											<div class="form-group">
												<label class="control-label">Name</label> <input
													class="form-control" type="text" name="name"
													th:value="${newMovie.name}"> <span
													th:errors="${newMovie.name}"></span>
											</div>
											<button type="submit" class="btn btn-warning">Save</button>
										</form>
									</div>
								</div>
							</div>
						</th:block>


						<th:block th:if="${action=='Update'}">
							<div class="col-lg-7 col-md-7 col-sm-7">
								<div class="panel panel-default">
									<div class="panel-heading" style="color:  rgba(212, 175, 55); background-color: rgb(0, 0, 0, 0.9)">Updating</div>
									<div class="panel-body">
										<form th:action="@{/editMovie}" method="POST">
											<div class="form-group">

												<div class="form-group">
													<label class="control-label">Movie : </label> <select
														class="form-control" name="oldMovie"
														th:value="${newMovie.id}">
														<option th:each="m:${movies}" th:text="${m.name}"
															th:value="${m.id}"></option>
													</select>
												</div>
												<label class="control-label">Name</label> <input
													class="form-control" type="text" name="name"
													th:value="${newMovie.name}"> <span
													th:errors="${newMovie.name}"></span>

											</div>
											<button type="submit" class="btn btn-warning">Save</button>
										</form>
									</div>
								</div>
							</div>
						</th:block>


						<th:block th:if="${action=='Delete'}">
							<div class="col-lg-7 col-md-7 col-sm-7">
								<div class="panel panel-default">
									<div class="panel-heading" style="color:  rgba(212, 175, 55); background-color: rgb(0, 0, 0, 0.9)">Deleting</div>
									<div class="panel-body">
										<form th:action="@{/deleteMovie}" method="POST">
											<div class="form-group">

												<div class="form-group">
													<label class="control-label">Movie : </label> <select
														class="form-control" name="id"
														th:value="${newMovie.id}">
														<option th:each="m:${movies}" th:text="${m.name}"
															th:value="${m.id}"></option>
													</select>
												</div>
											</div>
											<button type="submit" class="btn btn-warning">Delete</button>
										</form>
									</div>
								</div>
							</div>
						</th:block>

						<th:block th:if="${action=='CannotDelete'}">
							<div class="col-lg-7 col-md-7 col-sm-7">
								<div class="panel panel-default">
									<div class="panel-heading">Deleting</div>
									<div class="panel-body">
										<div> Cannot delete!</div>
									</div>
								</div>
							</div>
						</th:block>






					</div>
				</div>
			</div>
		</div>
	</div>
</body>