<!DOCTYPE html>
<html 	xmlns:th = "http://tymeleaf.org"
		xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:sec="http://ww.thymeleaf.org/extras/spring-security5">
<head>
<meta charset="UTF-8">
<title>Layout</title>
<link rel="stylesheet"  href="../static/css/bootstrap.min.css" 	 th:href="@{css/bootstrap.min.css}">
</head>
<body class="body bg-image"style="color:  rgba(150,0,128); background-image : url('https://www.pngkey.com/png/full/872-8720323_movie-theater-png-sala-de-cine-png.png');background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;">
	
		<nav class="navbar navbar-primary" style="background-color: rgb(0, 0, 0, 0.9)" >
		<div class="container-fluid">
			<div class="navbar-header" >
			<span class="navbar-brand " style="color:  rgba(212, 175, 55)" >Distopia</span>
			</div>
			<ul class="nav navbar-nav">
				<li><a style="color:  rgba(212, 175, 55); background-color: rgb(0, 0, 0, 0.9)" th:href="@{/cinemas}">Cinema list</a></li>					
			</ul>
		
			<ul class="nav navbar-nav pull-right">
				<li><a  th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a></li>
				<li><a th:href="@{adminPageCinema}" sec:authorize="isAuthenticated()"> Manage cinema list</a></li>
				<li><a th:href="@{adminPageMovie}" sec:authorize="isAuthenticated()">Manage movie list</a></li>
				<li><a  th:href="@{/logout}" sec:authorize="isAuthenticated()"> Logout</a></li>
			</ul>
		</div>
	</nav>
	
	
	<section layout:fragment="content"> </section>
</body>
<footer style="position : fixed;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 50px;
				padding: 0px;
				
				align-items: center;
				justify-content: center;">
	  <div class="text-white text-center p-3" style="background-color:rgba(0, 0, 0, 0.9); color: white">
	  	<h3 style="color:  rgba(212, 175, 55)">Distopia : Cinemax</h3>
	  </div>
</footer>
</html>